<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>RicaviGiornalieri</servlet-name>
        <servlet-class>servlet.RicaviGiornalieri</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopolaritàPortate</servlet-name>
        <servlet-class>servlet.PopolaritàPortate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopolaritaPortate</servlet-name>
        <servlet-class>servlet.PopolaritaPortateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RicaviOrdierni</servlet-name>
        <servlet-class>servlet.RicaviOrdierniServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopolaritaOdierne</servlet-name>
        <servlet-class>servlet.PopolaritaOdierneServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RicaviGiornalieri</servlet-name>
        <url-pattern>/RicaviGiornalieri</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopolaritàPortate</servlet-name>
        <url-pattern>/Popolarit_Portate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopolaritaPortate</servlet-name>
        <url-pattern>/PopolaritaPortate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RicaviOrdierni</servlet-name>
        <url-pattern>/RicaviOrdierni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopolaritaOdierne</servlet-name>
        <url-pattern>/PopolaritaOdierne</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
